.profile {
    h1 {
        font-size: 36px;
        font-weight: 700;
        color: black;
    }

    h2 {
        font-size: 30px;
        font-weight: 500;
        color: black;
        margin-bottom: 10px;
    }
    button {
        background: none;
        color: #4338CA;
        outline: solid 1px #4338CA;
        
        border-radius: 8px;
    }
}