.new-password {
            h1 {
                font-size: 36px;
                font-weight: 700;
                color: black;
            }
       
        .main-content {
   
            padding: 30px 100px;
            width: 100%;
            max-width: 800px;

            h2 {
                font-size: 30px;
                font-weight: 700;
                color: black;
            }
           .criteria {
                p {
                    font-size: 16px;
                }
                ul {
                    li {
                        font-size: 14px;
                    }
                }
           }
            button {
                background: #4338CA;
                color: white;
                border-radius: 8px;
            }
            p  {
                font-size: 12px;
            }   
        }

        .bottom {
            button  {
                width: 250px;
                border: black 1px solid;
                border-radius: 8px;
                font-size: 15px;
            }
            .right {
                color: #999999;
                font-size: 12px;
            }
        }

    .error {
        color: red;
        font-size: 14px;
        height: 30px;
    }
}